.incident-list
  .incident-list__header
    i.material-icons search
    md-input-container.col-large-3
      label Search Incident or Caller
      input(type="text" ng-model="$ctrl.filter.keyword")
    md-input-container
      label State
      md-select(ng-model="$ctrl.filter.state")
        md-option(ng-value="") All
        md-option(ng-value="1") New
        md-option(ng-value="2") In Progress
        md-option(ng-value="3") On Hold
    md-input-container
      label Urgency
      md-select(ng-model="$ctrl.filter.urgency")
        md-option(ng-value="") All
        md-option(ng-value="1") High
        md-option(ng-value="2") Medium
        md-option(ng-value="3") Low
  table(cellspacing="0" infinite-scroll="$ctrl.loadMore()" infinite-scroll-distance='10' infinite-scroll-use-document-bottom="true")
    thead
      th Incident Number
      th Urgency
      th Caller
      th Opened
      th State
    tbody
      tr(ng-click="$ctrl.showDetails(incident)" ng-repeat="incident in $ctrl.incidents | filter: {state: $ctrl.filter.state, urgency: $ctrl.filter.urgency} | filter:$ctrl.search" ng-init="incident.user = $ctrl.users[incident.caller_id.value]")
        td {{incident.number}}
        td {{incident.urgency}}
        td {{incident.user.result.first_name}} {{incident.user.result.last_name}}
        td {{$ctrl.moment(incident.opened_at).format('L')}}
        td {{$ctrl.flags[incident.state]}}
